#addIcon {
    position: fixed;
    bottom: 0;
    margin-bottom: 5%;
    margin-left: 46.5%;
    width: 7%;
}

#addIcon:hover {
    width: 9%;
    margin-left: 45.5%;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

ul li img {
    width: 3%;
}


ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
    list-style: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
div ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

div ul li.checked::before {
    content: '';
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the edit button */

.edit:hover {
    background-color: #021fe0;
    color: white;
}

/* Style the header */
.header {
    position: fixed;
    background-color: #e0e0e0;
    padding: 10px 10px;
    color: #1f8893;
    text-align: center;
    top: 115px;
    margin-right: 1.5%;
    font-size: 20px;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

/*.addBtnList {*/
/*    padding: 10px;*/
/*    width: 25%;*/
/*    background: #d9d9d9;*/
/*    color: #555;*/
/*    float: left;*/
/*    text-align: center;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    transition: 0.3s;*/
/*    border-radius: 0;*/
/*}*/

.addBtn:hover {
    background-color: #bbb;
}

/*PAGINA PRINCIPAL*/

.divList {
    display: inline;
    float: left;
    width: 200px;
    background-color: #aeaeae;
    border: 2px solid #009faf;
    margin: 120px 10px 10px;
}

.divList h2 {
    text-align: center;
    color: #1f8893;
    cursor: pointer;
    margin-top: 0;
}

.divList ul {
    margin-bottom: 0;
}

.closeList {
    cursor: pointer;
}

.editList {
    margin-right: 156px;
    cursor: pointer;
    margin-left: 5px;
}

#addIconLists {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 9%;
    right: 4%;
    cursor: pointer;
}

#addIconLists:hover {
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 8.5%;
    right: 3.8%;
}

#addIconIndex {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 9%;
    right: 49%;
}

#addIconIndex:hover {
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 8.5%;
    right: 48.8%;
}

#add {
    position: fixed;
    width: 57%;
    bottom: 10%;
    border: 2px solid #009faf;
    right: 11%;
}

#addList {
    position: fixed;
    width: 60%;
    bottom: 20%;
    border: 2px solid #009faf;
    right: 20%;
    left: 20%;
}

#edit {
    position: fixed;
    width: 57%;
    bottom: 10%;
    border: 2px solid #009faf;
    right: 11%;
}

#editList {
    position: fixed;
    width: 60%;
    bottom: 20%;
    border: 2px solid #009faf;
    right: 20%;
    left: 20%;
}


#listsDivTitle {
    display: inline-block;
    width: 28%;
    height: 105px;
    background-color: #e0e0e0;
    float: left;
    margin-top: 107px;
    text-align: center;
    position: fixed;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 1%;
    color: #1f8893;
}

#listsDiv {
    display: inline-block;
    width: 28%;
    height: 68%;
    background-color: #e0e0e0;
    float: left;
    margin-top: 196px;
    text-align: center;
    margin-left: 1%;
    position: fixed;
    overflow: scroll;
}

#listsDiv h2{
    cursor: pointer;
}

#listsDiv::-webkit-scrollbar {
    display: none;
}

#objectsDiv {
    width: 67%;
    height: 58%;
    right: 1.5%;
    position: fixed;
    margin-top: 215px;
    overflow: scroll;
}

#objectsDiv::-webkit-scrollbar {
    display: none;
}

#myUL {
    list-style: none;
    margin: 0;
    padding: 0;
}

#myUL li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #333;
    width: 100%;
}

#myDIV {
    right: 0;
    width: 67%;
    position: fixed;
}

#myDIVAdd {
    width: 100%;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#headerText {
    right: 0;
    position: fixed;
    text-align: center;
    display: inline-block;
    float: right;
    width: 100%;
    height: 100px;
    background-color: #aeaeae;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #1f8893;
}

#headerText h1 {
    margin-top: 30px;
}

#appIcon {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    left: 15px;
    z-index: 5;
}


.close{
    position: absolute;
    right: 0;
    margin-right: 1px;
    margin-top: -10px;
    height: 44px;
    padding: 8px 16px 12px 16px;
}
.edit{
    position: absolute;
    right: 0;
    margin-right: 45px;
    margin-top: -10px;
    height: 44px;
    padding: 9px 16px 12px 16px;
}



#imageMenuIcon {
    z-index: 5;
    position: absolute;
    top: 130px;
    left: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}